.block {
  width: 200px;
  margin: 30px;
  min-height: 300px;
  border: 2px solid rgb(189, 163, 129);
  position: relative;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: normal;
}

.textBlock {
  flex: 1 1 auto;
}

.inputBlock {
  flex: 1 1 auto;
}

.block:hover {
  transform: translateY(-5px);
  border-color: black;
  box-shadow: 0 10px 20px 1px rgba(126, 115, 115, 0.287);
}

.button {
  margin: 10px auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-1px);
  box-shadow: 0 3px 5px 1px rgba(104, 101, 101, 0.466);
}

.deleteButton {
  composes: button;
}

.deleteButton:hover {
  opacity: 1;
}

.input {
  margin: 10px auto;
  display: block;
  width: 100%;
  border-bottom: 2px solid rgb(189, 163, 129);
  transition: border 0.3s ease;
}

.input:hover {
  border-color: black;
}

.input:focus {
  border-color: black;
}

.text {
  margin: 10px 0;
  width: 100%;
  cursor: default;
}

.author {
  composes: text;
  font-size: 20px;
  font-weight: bold;
}

.name {
  composes: text;
  font-size: 18px;
}

.name::after,
.name::before {
  content: '"';
}

.genre {
  composes: text;
  font-size: 14px;
  font-style: italic;
}

.description {
  composes: text;
  border-top: 2px solid black;
}
