.block {
  width: 100%;
  grid-area: output;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
}

.block::-webkit-scrollbar {
  display: none;
}
