.input {
  display: flex;
  margin: 30px;
  grid-area: filter;
  border: 2px solid rgb(189, 163, 129);
  padding: 10px;
  transition: border 0.3s ease;
}

.input:hover {
  border-color: black;
}

.input:focus {
  border-color: black;
}
